/* Base Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Variables put in the scope for use*/
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #000000;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

img {
  min-width: 100%;
}

/* Navbar */

.navbar {
  background: #000000;
  padding: 15px;
  position: fixed;
  /* position: absolute; */
  top: 0;
  width: 100%;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 500;
  font-size: 1.1rem;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

.navbar ul li a i {
  margin-right: 10px;
}

/* .navbar ul li:last-child a {
  margin-left: 10px;
} */

/* Hero */

.hero {
  /* margin-bottom: 50px; */
  background: url("images/herobg.png.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 800px;

  display: grid;
  justify-content: center;
  align-items: center;
}

.hero .container {
  /* background: url("images/herobg.png.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 550px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .hero-content {
  width: 70%;
  text-align: center;
}

.hero .hero-name {
  color: #4891ff;
  font-weight: 600;
  font-size: 1.5rem;
}

.hero .hero-text {
  /* width: 70%; */
  margin-bottom: 20px;
  color: #fff;
}

.hero-heading {
  color: #fff;
}

.hero .socials {
  font-size: 3rem;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.hero .socials i {
  transition: 0.5s;
}

.hero .socials i:hover {
  color: #4891ff;
  text-shadow: 3px 3px 3px #000;
}

/* Video */

.video {
  padding: 10px 0 40px;
  background: #4891ff;
}

.video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-preview {
  margin-bottom: 20px;
}

/* Testimonials */

.testimonials {
  padding: 40px 0;
}

.testimonials .testimonials-heading {
  width: 700px;
  margin-bottom: 40px;
}

/* Utitity Classes */

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--light-color);
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

/* Text Classes */

.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}

/* Background */

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-black {
  background: #000;
  color: #fff;
}
